@(title: String, message: String, myform: Form[Application.MyForm])
@import helper._

@main(title) {
	<h1>@title</h1>
	<p>@message</p>
	@form(action = routes.Application.sendform, args = 'id -> "myform") {
		
		@inputText(
			field = myform("name"),
			args = '_label -> "名前",
			'placeholder -> "山田太郎"
		)
		@inputText(
			field = myform("mail"),
			args = '_label -> "メールアドレス",
			'placeholder -> "aaa@bbb"
		)
		@inputText(
			field = myform("tel"),
			args = '_label -> "電話番号",
			'placeholder -> "0000-0000"
		)
		
		<input type = "submit">
		
	}	
}
